<%- include ('../../partials/head.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<body>
    <div class="container">


            <div class="container mt-3 mb-5">
                <div class="container">
                    <h1>Articles</h1>
                </div>
                <div class="container">

                    <a href="/admin/articles/new" class="btn btn-primary">Register new Article</a>
                </div>
            </div>


            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Title</th>
                        <th>Slug</th>
                        <th>Category</th>
                        <th>Published</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <% articles.forEach(articles=> { %>
                            <tr>
                            <th class="text-center">
                                <%= articles.id %>
                            </th>
                            <th>
                                <%= articles.title %>
                            </th>
                            <th>
                                <%= articles.slug %>
                            </th>
                            <th>
                                <%= articles.category.title %>
                            </th>
                            <th>
                                <%= articles.published ? 'Yes' : 'No' %>
                            </th>
                            <th class="text-center">
                                <a href="#" class="btn btn-info">Info</a>
                                <a href="#" class="btn btn-warning">Edit</a>
                                <a href="#" class="btn btn-danger">Delete</a>
                            </th>
                        </tr>
                    <% }) %>

                </tbody>
            </table>
        </div>
</body>

<%- include ('../../partials/footer.ejs') %>