<%- include ('../../partials/head.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<body>
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Article Registration</h2>
                        <% if(errors) {%>
                            <% errors.forEach(e=> { %>
                                <div class="alert alert-danger">
                                    <%= e.message %>
                                </div>
                                <% })} %>
                    </div>
                    <div class="card-body">
                                <form action="/article/save" method="post" class="form-control">
                                    
                                    <div class="mb-3">
                                        <label for="" class="form-label">Article Title</label>
                                        <input type="text" name="title" class="form-control"
                                            placeholder="Insert Article Title here!">
                                    </div>
                                    <div class="mb-3">
                                        <label for="" class="form-label">Article Body</label>
                                        <textarea class="form-control" name="body" placeholder="Insert Article Body here!" id="article"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="" class="form-label">Category</label>
                                        <select name="category" class="form-control">
                                            <option value="">Select the Category</option>
                                            <% categories.forEach(category => { %>
                                                <option value="<%= category.id %>"><%= category.title %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <input type="checkbox" class="form-check-input" name="published">
                                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                    </div>
                                    <button type="submit" class="btn btn-success">Send</button>
                                    <a href="/admin/articles/0" class="btn btn-secondary">Cancel</a>
                                </form>
                    </div>
                </div>
            </div>
</body>

<%- include ('../../partials/footer.ejs') %>
<%- include ('../../partials/tiny.ejs') %>