<%- include ('../../partials/head.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<body>
    <div class="container">


            <div class="container mt-3 mb-5">
                <div class="container">
                    <h1>Categories</h1>
                </div>
                <div class="container">

                    <a href="/admin/categories/new" class="btn btn-primary">Register new Category</a>
                </div>
            </div>


            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Title</th>
                        <th>Slug</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>


                    <% categories.rows.forEach(categories=> { %>
                        <tr>
                            <td class="text-center">
                                <%= categories.id %>
                            </td>
                            <td>
                                <%= categories.title.substring(0, 30) %>
                            </td>
                            <td>
                                <%= categories.slug.substring(0, 30) %>
                            </td>
                            <td class="text-center">
                                <a href="/admin/categories/info/<%= categories.id %>" class="btn btn-info">Info</a>
                                <a href="/admin/categories/edit/<%= categories.id %>" class="btn btn-warning">Edit</a>
                                <a href="/admin/categories/delete/<%= categories.id %>" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>

                        <% }) %>
                </tbody>
            </table>
            <nav aria-label="Page navigation">
                            <ul class="pagination float-end">
                                <% if (next) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="/admin/categories/<%= parseInt(num) + 1 %>">Next</a>
                                    </li>
                                <% } else { %>
                                    <li class="page-item disabled">
                                        <span class="page-link">No more articles</span>
                                    </li>
                                <% } %>
                            </ul>
                            <ul class="pagination float-start">
                                <% if (num > 0) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="/admin/categories/<%= parseInt(num) - 1 %>">Previous</a>
                                    </li>
                                <% } %>
                            </ul>
                        </nav>
        </div>
</body>

<%- include ('../../partials/footer.ejs') %>