<%- include ('../../partials/head.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<body>
    
    <div class="container mt-5">
        <h2 class="">Details:</h2>
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="row row-cols-2">
                        <div class="col">ID:</div>
                        <div class="col"><%= category.id %></div>
                        <div class="col">Title:</div>
                        <div class="col"><%= category.title %></div>
                        <div class="col">Slug:</div>
                        <div class="col"><%= category.slug %></div>
                        <div class="col">Created At:</div>
                        <div class="col"><%= category.createdAt.toLocaleDateString() %></div>
                        <div class="col">Updated At:</div>
                        <div class="col"><%= category.updatedAt.toLocaleDateString() %></div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="/admin/categories/0" class="btn btn-secondary">Back</a>
                <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Edit</a>
                <a href="/admin/categories/delete/<%= category.id %>" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>

</body>
<%- include ('../../partials/footer.ejs') %>