<%- include ('partials/head.ejs') %>
<%- include ('partials/homenavbar.ejs') %>

<body>
    <div class="container mt-5 mb-5">
        <h1 class="text-center"><%= article.title %> </h1>
        <div class="card mt-4">
            <div class="card-header">
                <h2 class="card-title"><%= article.category.title %></h2>
            </div>
            <div class="card-body">
                <p><%- article.body %></p>
            </div>
            <div class="card-footer">
                <p class="text-muted">
                    <small>Published on: <%= article.updatedAt.toLocaleDateString() %></small>
                </p>
                <a href="/" class="btn btn-primary">Back to Home</a>
            </div>            
        </div>
    </div>
</body>

<%- include ('partials/footer.ejs') %>