<%- include ('../../partials/head.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<body>

    <div class="container text-center mt-5">
        <div class="card">
            <div class="card-header">
                <h2>Are you sure about delete this User: <span>
                        <%= user.username %>
                    </span>
                </h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/user/delete" class="form-control">
                    <input type="hidden" name="id" value="<%= user.id %>">
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <a href="/admin/users/0" class="btn btn-secondary">Back</a>
                </form>
            </div>
        </div>
    </div>

</body>

<%- include ('../../partials/footer.ejs') %>