<%- include ('../partials/head.ejs') %>
    <%- include ('../partials/homenavbar.ejs') %>

        <body>
            <div class="container">


                <div class="container mt-3 mb-5">
                    <div class="container">
                        <h1>Articles</h1>
                        <div class="btn-group float-end">
                            <button class="btn btn-light btn-sm dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Categories
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <% categories.forEach(category => { %>
                                    <a href="/more/category/<%= category.slug %>" class="dropdown-item">
                                        <%= category.title %>
                                    </a>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </div>
                <% articles.forEach(articles=> { %>

                    <div class="card mb-3">
                        <div class="card-header text-center">
                            Category: <%= articles.category.title %>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <%= articles.title %>
                            </h5>
                            <hr>
                            <p class="card-text text-justify">
                                <%- articles.body.match(/<p[^>]*>.*?<\/p>/g || []).map(p => p.replace(/<[^>]*>/g, '')).join('').substring(0, 550) || '' %>...
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="/more/article/<%= articles.slug %>" class="btn btn-primary">Read More</a>
                            <small class="text-muted float-end">
                                Published on: <%= articles.updatedAt.toLocaleDateString() %>
                            </small>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </body>

        <%- include ('../partials/footer.ejs') %>