<%- include ('../partials/head.ejs') %>
    <%- include ('../partials/homenavbar.ejs') %>

        <body>
            <div class="container">


                <div class="container mt-3 mb-5">
                    <div class="container">
                        <h1>Articles about: <%= category.title %></h1>


                    </div>
                </div>
                <% articles.rows.forEach(article => { %>

                    <div class="card mb-3">
                        <div class="card-header text-center">
                            Category: <%= article.category.title %>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <%= article.title %>
                            </h5>
                            <hr>
                            <p class="card-text text-justify">
                                <%- article.body.match(/<p[^>]*>.*?<\/p>/g || []).map(p => p.replace(/<[^>]*>/g, '')).join('').substring(0, 550) || '' %>...
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="/more/article/<%= article.slug %>" class="btn btn-primary">Read More</a>
                            <small class="text-muted float-end">
                                Published on: <%= article.updatedAt.toLocaleDateString() %>
                            </small>
                        </div>
                    </div>
                    <% }); %>
                    <div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination float-end">
                                    
                                    <% if (next) { %>
                                        
                                        <li class="page-item">
                                            
                                            <% if (num > 0) { %>
                                                <a class="page-link" href="/more/category/<%= category.slug %>?num=<%= parseInt(num) + 1 %>">Next</a>
                                            <% } else { %>
                                                <a class="page-link" href="/more/category/<%= category.slug %>?num=1">Next</a>
                                            <% } %>
                                        </li>
                                    <% } else { %>
                                        <li class="page-item disabled">
                                            <span class="page-link">No more articles</span>
                                        </li>
                                    <% } %>
                                </ul>
                                <ul class="pagination float-start">
                                    <% if (num > 0) { %>
                                        <li class="page-item">
                                            <a class="page-link" href="/more/category/<%= category.slug %>?num=<%= parseInt(num) - 1 %>">Previous</a>
                                        </li>
                                    <% } %>
                                </ul>
                            </nav>
            </div>
        </body>

        <%- include ('../partials/footer.ejs') %>